{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block menu %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'create_project' %}">
            <button type="button" class="btn btn-light">Add Project</button>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'tasks' %}">
            <button type="button" class="btn btn-light">Tasks</button>
        </a>
    </li>
{% endblock %}
{% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for project in projects %}
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.name }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <a href="{% url 'detail_project' project.pk %}" class="btn btn-dark">More</a>
                        <a href="{% url 'delete_project' project.pk %}" class="btn btn-dark">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}